  <div class="back-ground"> 
  <% @questions.each do |question| %>
    <div class= "back-box">
    <div class="QB">
      <div class="QB-left">
        <div class="count">0</div>
        <div class="count-text">comments</div>
      </div>
    
      <div class="QB-light">
        <div class="top">
          <div class="title">
            <%= question.title %>
          </div>
          <div class="name">
            <%= question.user_name %>
          </div>
        </div>
        <div class="content">
          <%= question.question_content %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>

