/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/************************************ヘッダー****************************/
header{
  height: 65px;
  background-color: #1C3667
}

.header{
  height: 65px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-title{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 1.8px;

}

.question-btn{
  width: 80px;
  height: 32px;
  border-radius: 5px;
  background-color: #FFFFFF;
  text-align: center;
}

.question-btn a{
  line-height: 32px;
  text-decoration: none;
  color: #3A3736;
  font-size: 16px;
}
/*************ここから各サイトの背景******************/
