/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
 }
/************************************ヘッダー****************************/
.header{
  height: 65px;
  width: 100vw;
  padding: 0 20px;
  background-color: #1C3667;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-title{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 1.8px;

}

.question-btn{
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-btn a{
  height: 32px;
  width: 80px;
  text-decoration: none;
  font-size: 16px;
  color: #3A3736;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*************ここから各サイトの背景******************/
